<!-- <!DOCTYPE html>
<html lang="en">
<style>
form {
    margin: auto;
    width: 35%;
    padding: 5px;
    border-radius:10px;
    margin: auto;
    width: 410px;
    border: 1px solid #ccc;
}
input{
    padding: 3px;
    width: 400px;

}
</style>
<head>
    <meta charset="UTF-8">

    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
    <h1><i>HRIDAI</i></h1>
    <h2>Cardiovascular Disease Prediction</h2>
</center>
    <form action="{{ url_for('predict')}}" method = "post">
        <input type="number" name="age" placeholder="Enter your age(in years)" required><br><br>

        <label for="gender" required>Select your gender type:</label>

        <select name="gender" id="gender">
            <option value="1">MALE</option>
            <option value="0">FEMALE</option>
        </select>
        <br/><br>
        <input type="number" name = "cp" placeholder="Enter Chest pain type(0-3)" required><br><br>
        <input type="number" name="trestbps" placeholder="Enter Resting Blood Pressure(in mmHg)" required><br><br>
        <input type ="number" name = "chol" placeholder="Enter Serum Cholestoral (in mg/dl)" required><br><br>
        <input type = "number" name = "fbs" placeholder="Enter Fasting Blood Pressure" required><br><br>
        <input type = "number" name = "restecg" placeholder="Enter Resting Electrocardiographic Results" required><br><br>
        <input type="number" name="thalach" placeholder="Enter maximum heart rate achieved" required><br><br>

        <label for="exang" required>Select exercise included angina:</label>
        <select name="exang" id="exang">
            <option value="1">YES</option>
            <option value="0">NO</option>
        </select>
        <br><br>

        <input type = "number" name = "oldpeak" placeholder="ST depression induced by exercise ST Segment" required><br><br>
        <input type="number" name="slope" placeholder="Enter slope of the peak exercise ST segment" required><br><br>
        <input type ="number" name = "ca" placeholder="Enter number of major vessels(0-3)" required><br><br>
        <label for="thal" required>Select Resting Electrocardiographic Results:</label>
        <select name="thal" id="thal">
            <option value="3">Normal</option>
            <option value="6">Fixed Defect</option>
             <option value="7">Reversable defect</option>
        </select>
        <br><br>
        <input type="submit">
    </form>
    <h3>You have - </h3>
    {{heart_result}}
</body>
</html> -->